<div class="mainContent">
  <p>Welcome to DevMountain Social</br>
    Add some info so your friends can find you</p>
    <input ng-model="user.myName" type="text" name="Full Name" placeholder="Full Name">
    <input ng-model="user.tagline" type="text" name="Tagline" placeholder="Tagline">
    <input ng-model="user.profileUrl" type="text" name="Profile Image URL" placeholder="Profile Image URL">
    <input ng-model="user.bio" type="text" name="Bio" placeholder="Bio">
    <button ng-click="createUser(user)">Save Changes</button>
</div>
