<!DOCTYPE html>
<html ng-app='socialApp'>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="style.css">
	<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
	<title>DevMtin</title>
</head>

<body ng-controller="mainController">
	<div class='topNav'>
		<input type="text" name="search" placeholder="Search..">
		<p ng-click="togglePage('initial')">DevMountain Social</p>
		<button ng-click="togglePage('home')">Home</button>
	</div>

	<div class="mainContent" ng-show="initial">
		<p>Welcome to DevMountain Social</br></br>
			Add some info so your friends can find you</p>
			<input ng-model="user.myName" type="text" name="Full Name" placeholder="Full Name">
			<input ng-model="user.tagline" type="text" name="Tagline" placeholder="Tagline">
			<input ng-model="user.profileUrl" type="text" name="Profile Image URL" placeholder="Profile Image URL">
			<input ng-model="user.bio" type="text" name="Bio" placeholder="Bio">
			<button ng-click="createUser(user)">Save Changes</button>
	</div>

	<div class="homeScreen" ng-show="home">
			<div class="profileText">
				<h1>{{defaultUser.myName}}</h1>
				<h2>{{defaultUser.tagline}}</h2>
				<h3>{{defaultUser.bio}}</h3>
			</div>
		<div homeImage>
			<img src={{defaultUser.profileUrl}} alt="image">
		</div>
	</div>

	<div class="viewScreen" ng-show="view" >
		<div class="profileText">
			<h1>{{defaultUser.myName}}</h1>
			<h2>{{defaultUser.tagline}}</h2>
			<h3>{{defaultUser.bio}}</h3>
		</div>
	</div>

	<div class="findScreen" ng-show="find">
		<div class="profileText">
			<h1>{{defaultUser.myName}}</h1>
			<h2>{{defaultUser.tagline}}</h2>
			<h3>{{defaultUser.bio}}</h3>
		</div>
		<div class="friendViewer" ng-repeat="profile in profiles">
			<img src="{{profile.profileUrl}}" alt="profile image">
	</div>
	</div>

	<div class="updateScreen" ng-show="update">
		<div class="profileText">
		<h1>{{defaultUser.myName}}</h1>
		<h2>{{defaultUser.tagline}}</h2>
		<h3>{{defaultUser.bio}}</h3>
	</div>
</div>

<div class="bottomNav">
	<p ng-class="{selected: view}" ng-click="togglePage('view')">View Friends</p>
	<p ng-class="{selected: find}" ng-click="togglePage('find')">Find Friends</p>
	<p ng-class="{selected: update}" ng-click="togglePage('update')">Update Profile</p>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js">
</script>
<script src="js/app.js"></script>
<script src="js/controller.js"></script>

</body>

</html>
