html {
  box-sizing: border-box;
  background-color: white;

}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  width:1080px;
  height:1500px;
  box-shadow: 0px 0px 4px 1px #D3D3D3;
  background-color: #F6F6F6;

}

.topNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height:30px;
  color: grey;
  background-color: #F6F6F6;
  margin-bottom: 5px;
}

.heading {
  text-align: center;
  font-size: 35px;
  font-family: 'Quicksand', sans-serif;
  font-weight: bolder;
  cursor: pointer;
  line-height: 25px;
  color: black;
  height: 28px;

}
.topNav > button {
  justify-content: flex-end;
  background-color: #7DD3F1;
  color: white;
  border-radius: 3px;
  width: 60px;
  margin-left: 200px;
  height:30px;
  margin-top: 5px;
  margin-right: 5px;
}


.topNav > input{
  justify-content: flex-start;
  width: 150px;
  border: 2px solid white;
  border-radius: 4px;
  font-size: 16px;
  background-color: #E8EAEA;
  background-image: url('images/searchicon.svg');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  color: #7DD3F1;
  box-shadow: 0px 0px 4px 1px #888888;
  height:30px;
  margin-top: 5px;
  margin-left: 5px;
}
input[type=text]:focus {
    width: 250px;
}

.mainContent {
  background-color: inherit;
  width:1000px;
  height: 690px;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  font-size: 25px;
  font-family: 'Lobster', cursive;
  color: #333333;
  margin-left: 50px;
  background-image: url('images/main_bg_3.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
  box-shadow: 0px 0px 4px 1px white;
  padding: 15px;
  box-shadow: 0px 0px 4px 1px #D3D3D3;
}

.mainContent > input {
  width: 175px;
  margin-bottom: 15px;
  color: black;
  font-size: 16px;
  -webkit-transition: width 0.2s ease-in-out;
  transition: width 0.2s ease-in-out;
  border: 2px solid #ccc;
  border-radius: 4px;
  opacity: .6;
  padding: 15px;
}
input[name="Bio"]{
  height:200px;
  width:250px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  opacity: .6;
}
.mainContent > button {
width:100px;
height:30px;
border-radius: 3px;
color: white;
background-color: #7DD3F1;
}
.midBar {
  background-color: black;
  height:250px;

}


.homeScreen {
  height: 690px;
  width: 1000px;
  display: flex;
  background-repeat: no-repeat;

  background-position: right;
  background-size: auto;
  background-color: white;

}
.profileText {
  flex-direction: row;
  flex-wrap: wrap;
  height: 690px;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  margin-left: 25px;
  width: 60%;

}
.profileText > h1 {
  font-family: 'Quicksand', sans-serif;
  font-size: 30px;
  margin-left: 25px;
  color: #7DD3F1;
  background-color: #E6E7E8;

}
.profileText > h2 {
  font-family: 'Quicksand', sans-serif;
  font-size: 15px;
  border-bottom: : 1px solid grey;
  width:30%;
  margin-left: 25px;
  background-color: #E6E7E8;
}

.profileText > h3 {
  font-family: 'Amatic SC', cursive;
  font-size: 12px;
  border: 2px solid white;
  width: 30%;
  height: 200px;
  margin-left: 25px;
  color: grey;
  background-color: #E6E7E8;
}

.profileText > img {
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 50%;
  width: 200px;
  height:200px;
  margin-left: 25px;
  margin-top: 50px;
}



.bottomNav {
  display: flex;
  justify-content: space-around;
  color: grey;
  border-top: 1px;
  border-color: grey;
  flex-direction: row;
  margin: 0 350 50 350;
  border-top: 2 solid gray;
  font-family: sans-serif;
  background-color: #F6F6F6;
  height:300px;
}

.bottomNav > p {
  cursor: pointer;
  text-decoration: none;
  color: black;
  font-family: 'Lobster', cursive;
}
.bottomNav > p:hover {
  color: #7DD3F1;
}

.selected {
  border-bottom: 2px solid black;
  color: #7DD3F1;

}
